<div class="text-center p-4 px-md-5 row g-3 h-100">
    <div class="col-12">
        <i class="fas fa-envelope-open-text mb-2" style="font-size: 60px; color: var(--color-common);"></i>
        <h2><b>Check your mail</b></h2>
        <span style="font-size: 1.1rem;">We have sent 
            {% if re_sent %}
            {{re_sent}}
            {% else %}
            a password recover 
            {% endif %}
            instructions to your email.
            {% if not re_sent %}
            <br><br><br><b>Please be aware, we will not send any email, if the entered email doesn't exists in our system.</b>
            {% endif %}
        </span>
    </div>
    <div class="col-12">
        <span>Didn't recieve the email? Check your spam filter
            <a href="{% if re_sent %}{% url 'send_verify' %}{% else %}{% url 'reset_password' %}{% endif %}"><br><b style="color: var(--color-common); font-size: 1.2rem; text-decoration: underline;">Try
                    another email address?</b></a>
        </span>
    </div>
</div>