{% load custom_tags %}
<form class="text-center p-4 px-md-5 row g-3" method="POST">
    {% csrf_token %}
    <div class="col-12 text-start">
        <h2><b>Reset Password</b></h2><br>
        <span class="font-text-md">Enter the email associated with your account and we'll send an email with
            instructions to reset your password.</span>
    </div>
    <div class="col-12 text-start">
        <label for="id_email" class="form-label">Email address</label>
        <div class="input d-flex align-items-center">
            <i class="fas fa-envelope"></i>
            {{form.email|addInputClass:"Elon@Musk.com"|safe}}
            <span id="infocus"></span>
        </div>
    </div>
    <div class="col-12">
        <input type="submit" class="btn w-100 sign-up-btn" style="letter-spacing: 2px; box-shadow: none !important;"
            value="Send Email Instructions">
    </div>
</form>